@charset "utf-8";
/* CSS Document */
#content-slider {
  width: 650px;
  overflow: hidden;
  height: 300px;
}

#content-slider-inside {
  list-style: none;
  height: 320px;    // these 3 lines
  overflow: scroll; // help Opera
  overflow-y: hidden; // behave
}

  #content-slider-inside li {
    width: 650px;
    height: 300px;
  }
